body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image:url(images/image\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
.titre {
  height: 50vh;
  width: 75vw;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 5rem;
  color: #FFD456;
  display: flex;
  justify-content: center;
  }
  .titre1{
   margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.8rem;
    color: #FFD456;
  }
  .titre2{
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.3rem;
    color: #FFD456;

  }
.haut{
  height:50vh ;
  width:100vw ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.bas{
  height:50vh ;
  width:100vw ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.lesda{
  height: 40vh;
  width: 25vw;
  display: flex;
  justify-content: center;
}
.imgsda{
  height: 35vh;
  width: 20vw;
  }
.lesda1{
  height: 35vh;
  width: 20vw;
  background-image: url(images/sda1/image\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.lesda2{
  height: 35vh;
  width: 20vw;
  background-image: url(images/sda2/image\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.lesda3{
  height: 35vh;
  width: 20vw;
  background-image: url(images/sda3/image\ 4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




/* .lesda1 .lesda2 .lesda3 {
    display: none;
  }
  .lesda:hover .imgsda{
    display: none;
  }
  .lesda1 .lesda2 .lesda3:hover {
    display: block;
  }
  .imgsda-container {
    position: relative;
  }
   */