@font-face{
  font-family: "Aniron" ;
  src: url("./font/anirb___.ttf") ;
}
/* Format ordinateur */

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image:url(images/image\ 188.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.titre {
  height: 15vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 2.6rem;
  font-family: Aniron ;
  color: #FFD456;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texte{
  height: 10vh;
  width: 100vw;
}
.accroche{
  height: 10vh;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  text-align: center;
  font-family: Aniron ;
  color:white;
}
.accroche2{
  display: none;
  height: 10vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  text-align: center;
  font-family: Aniron ;
  color:white;
}
.bas{
  height:70vh ;
  width:100vw ;
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.lesda{
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgsda{
  height: 25vh;
}
.lesda1{
  position: relative;
}
.img2{
  height: 25vh;
  display: none;
}
.titre1{
  display: none;
  position:absolute; 
  top: 0;
  left: 0;
  margin: 0;
  font-size: 0.8rem;
  font-family: Aniron;
  color: #FFD456;
  text-align: center;
}
.titre11{
  display: none;
  position:absolute; 
  top: 0;
  left: 13%;
  margin: 0;
  font-size: 0.8rem;
  font-family: Aniron;
  color: #FFD456;
  text-align: center;
}
 .titre2{
  display: none;
  position:absolute; 
  top: 45%;
  margin: 0;
  left: 2%;
  text-align: center;
  font-size: 0.7rem;
  font-family: Aniron;
  color: #FFD456;
}

/* Hover */
.lesda:hover .imgsda{
  display: none;
}
.lesda:hover .img2{
  display: block;
}
.lesda:hover .titre1{
  display: block;
}
.lesda:hover .titre11{
  display: block;
}
.lesda:hover .titre2{
  display: block;
}
.texte:hover .accroche{
  display: none;
}
.texte:hover .accroche2{
  display: block;
}

/* Tablette */
@media screen and (min-width: 581px) and (max-width: 1180px){

.titre {
  font-size: 1.5rem;
}
.accroche{
  font-size: 1rem;
}
.accroche2{
  font-size: 1rem;
}
.imgsda{
  height: 15vh;
}
.img2{
  height: 15vh;
}
.titre1{
  font-size: 0.5rem; 
}
 .titre11{
  font-size: 0.5rem;
}
 .titre2{
  font-size: 0.4rem;
}
}
/* Télephone */
@media screen and (max-width: 580px){

.titre {
  font-size: 1.2rem;
  text-align: center;
}
.accroche{
  font-size: 0.6rem;
}
.accroche2{
  font-size: 0.6rem;
}
.bas{
  display: flex;
  flex-direction: column;
}
.lesda{
  height: 25vh;
  width: 100vw;
}
.imgsda{
  height: 13vh;
}
.img2{
  height: 13vh;
}
.titre1{
  font-size: 0.4rem;
}
 .titre11{
  font-size: 0.4rem;
}
 .titre2{
  font-size: 0.35rem;
}
}
