@font-face{
  font-family: "Aniron" ;
  src: url("./font/anirb___.ttf") ;
}


body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image:url(images/image\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.titre {
  height: 15vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 1;
  font-size: 4rem;
  font-family: Aniron ;
  color: #FFD456;
  display: flex;
  justify-content: center;
  align-items: center;
}

.haut{
  height:40vh ;
  width:100vw ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bas{
  height:45vh ;
  width:100vw ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesda{
  height: 40vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgsda{
  height: 30vh;
}
.lesda1{
  position: relative;
}
.img2{
  height: 30vh;
  display: none;
}

.titre1{
  display: none;
  position:absolute; 
  top: 0;
  margin-top: 1vh;
  font-size: 1rem;
  font-family: Aniron;
  color: #FFD456;
}
.titre11{
  display: none;
  position:absolute; 
  top: 0;
  left: 25%;
  margin-top: 1vh;
  font-size: 1rem;
  font-family: Aniron;
  color: #FFD456;
}
 .titre2{
  display: none;
  position:absolute; 
  top: 43%;
  left: 14%;
  font-size: 0.9rem;
  font-family: Aniron;
  color: #FFD456;
}

/* Hover */
.lesda:hover .imgsda{
  display: none;
}
.lesda:hover .img2{
  display: block;
}
.lesda:hover .titre1{
  display: block;
}
.lesda:hover .titre11{
  display: block;
}
.lesda:hover .titre2{
  display: block;
}



  


/* Ordinateur */
@media screen and (min-width: 770px) and (max-width: 1440px){

.titre {
  height: 15vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 2.6rem;
  font-family: Aniron ;
  color: #FFD456;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lesda{
  height: 40vh;
  width: 50vw;
  display: flex;
  justify-content:center;
  align-items: center;
}
.imgsda{
  height: 30vh;
}
.lesda1{
  position: relative;
}
.img2{
  height: 30vh;
}

.titre1{
  display: none;
  position:absolute; 
  top: 0;
  margin-top: 1vh;
  font-size: 1rem;
  font-family: Aniron;
  color: #FFD456;
}
 .titre11{
  display: none;
  position:absolute; 
  top: 0;
  left: 25%;
  margin-top: 1vh;
  font-size: 1rem;
  font-family: Aniron;
  color: #FFD456;
}
 .titre2{
  display: none;
  position:absolute; 
  top: 43%;
  left: 10%;
  font-size: 0.9rem;
  font-family: Aniron;
  color: #FFD456;
}

}


/* Tablette */
@media screen and (min-width: 530px) and (max-width: 769px){

.titre {
  height: 15vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: Aniron ;
  color: #FFD456;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lesda{
  height: 40vh;
  width: 50vw;
  display: flex;
  justify-content:center;
  align-items: center;
}
.imgsda{
  height: 21.5vh;
}
.lesda1{
  position: relative;
}
.img2{
  height: 21.5vh;
}

.titre1{
  display: none;
  position:absolute; 
  top: 0;
  left: 3%;
  margin-top: 1vh;
  font-size: 0.7rem;
  font-family: Aniron;
  color: #FFD456;
}
 .titre11{
  display: none;
  position:absolute; 
  top: 0;
  left: 25%;
  margin-top: 1vh;
  font-size: 0.7rem;
  font-family: Aniron;
  color: #FFD456;
}
 .titre2{
  display: none;
  position:absolute; 
  top: 43%;
  left: 14%;
  font-size: 0.6rem;
  font-family: Aniron;
  color: #FFD456;
}
}


/* Télephone */
@media screen and (max-width: 529px){

.titre {
  height: 15vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: Aniron ;
  color: #FFD456;
  display: flex;
  justify-content: center;
  align-items: center;
}
.haut{
  height:25vh ;
  width:100vw ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bas{
  height:50vh ;
  width:100vw ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lesda{
  height: 25vh;
  width: 100vw;
  display: flex;
  justify-content:center;
  align-items: center;
}
.imgsda{
  height: 20vh;
}
.lesda1{
  position: relative;
}
.img2{
  height: 20vh;
}

.titre1{
  display: none;
  position:absolute; 
  top: 0;
  left:5%;
  margin-top: 1vh;
  font-size: 0.6rem;
  font-family: Aniron;
  color: #FFD456;
}
 .titre11{
  display: none;
  position:absolute; 
  top: 0;
  left: 25%;
  margin-top: 1vh;
  font-size: 0.6rem;
  font-family: Aniron;
  color: #FFD456;
}
 .titre2{
  display: none;
  position:absolute; 
  top: 43%;
  left: 16%;
  font-size: 0.5rem;
  font-family: Aniron;
  color: #FFD456;
}
}


